$primary-color: #504881
$secondary-color: #c6538c
$third-color: #c6538c

$darc-gray: #444444
$gray: #666666
$light-gray: #888888

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: 'Open Sans', 'Helvetica', sans-serif
  background: url('../img/hackaton_bg.svg') center center no-repeat 
  background-size: cover

.for-height-limitator
  max-height: 47vh
  overflow-y: scroll

.card-container 
  background: #ffffff
  border-radius: 16px
  box-shadow: 0 3px 16px rgba(0, 0, 0, .09)
  box-sizing: border-box
  max-width: 520px
  margin: 0 auto

h1, h2, h3
  font-weight: 600
  color: $darc-gray

p
  color: $gray

label
  color: $gray

.btn
  padding: 14px

.btn-primary
  background: $primary-color
  border-color: $primary-color
  color: #fff !important
  transition: 0.15s

.btn-primary:hover
  background: $primary-color
  border-color: $primary-color
  color: #fff !important
  opacity: 0.9
  transition: 0.15s

.btn-primary:not(:disabled):not(.disabled):active
  background: $primary-color
  border-color: $primary-color
  color: #fff !important

.btn-outline-primary
  border-color: $primary-color
  color: $primary-color
  transition: 0.15s

.btn-outline-primary:hover
  background: $primary-color
  border-color: $primary-color
  color: #fff !important
  transition: 0.15s

.btn-outline-primary:not(:disabled):not(.disabled):active
  background: $primary-color
  border-color: $primary-color

.form-control
  padding: 24px 14px
  color: $gray

.flex-center-center-container
  align-items: center
  display: flex
  height: 100vh
  justify-content: center
  width: 100vw

.forgot-password
  color: $primary-color

.forgot-password:hover
  color: $primary-color

.step-count
  font-weight: 600
  font-size: 14px

.important
  font-weight: 600

.tiny-spacer
  height: 16px

.horizzontal-tiny-spacer
  width: 42px
  height: 10px

// Slider container

.frame-maker
  width: 100%
  height: 100%
  overflow: hidden

.sliding-container
  height: 100%
  width: 300%
  position: relative
  left: -100%

.covid-step
  position: relative
  float: left
  height: 100%
  width: calc(100%/3)

.flex-container
  display: flex
  align-items: flex-start
  align-content: flex-start
  margin-bottom: 16px

.flex-container label
  display: block
  padding-left: 14px
  margin-top: -4px

.covid-step-footer
  position: absolute
  bottom: 0
  width: 100%

.no-margin-bottom
  margin-bottom: 0

@media only screen and (max-device-width : 480px)

    .for-height-limitator
      max-height: 63vh
