* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background: url("../img/hackaton_bg.svg") center center no-repeat;
  background-size: cover;
}

.for-height-limitator {
  max-height: 47vh;
  overflow-y: scroll;
}

.card-container {
  background: #ffffff;
  border-radius: 16px;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.09);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 520px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 600;
  color: #444444;
}

p {
  color: #666666;
}

label {
  color: #666666;
}

.btn {
  padding: 14px;
}

.btn-primary {
  background: #504881;
  border-color: #504881;
  color: #fff !important;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.btn-primary:hover {
  background: #504881;
  border-color: #504881;
  color: #fff !important;
  opacity: 0.9;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background: #504881;
  border-color: #504881;
  color: #fff !important;
}

.btn-outline-primary {
  border-color: #504881;
  color: #504881;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.btn-outline-primary:hover {
  background: #504881;
  border-color: #504881;
  color: #fff !important;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background: #504881;
  border-color: #504881;
}

.form-control {
  padding: 24px 14px;
  color: #666666;
}

.flex-center-center-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.forgot-password {
  color: #504881;
}

.forgot-password:hover {
  color: #504881;
}

.step-count {
  font-weight: 600;
  font-size: 14px;
}

.important {
  font-weight: 600;
}

.tiny-spacer {
  height: 16px;
}

.horizzontal-tiny-spacer {
  width: 42px;
  height: 10px;
}

.frame-maker {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliding-container {
  height: 100%;
  width: 300%;
  position: relative;
  left: 0;
}

.covid-step {
  position: relative;
  float: left;
  height: 100%;
  width: calc(100%/3);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 16px;
}

.flex-container label {
  display: block;
  padding-left: 14px;
  margin-top: -4px;
}

.covid-step-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.no-margin-bottom {
  margin-bottom: 0;
}

@media only screen and (max-device-width: 480px) {
  .for-height-limitator {
    max-height: 63vh;
  }
}
